.dark-mode {
    filter: invert(0.95);
}
.darkModeAnimation{
    position: fixed;
    top:0px;
    left:0px;
    display: none;
    align-items: center;
justify-content: center;
    z-index: 8;
    background-color: black;
    width: 100%;
    height: 100%;
}
:root{
    --white: #ffffff;
    --black: #121212;
    --bg-img: url("../src/assets/img/trialNoGridFinal.svg");
    --transparent: transparent;
    --card: #ffffff;
}
.dsc-nav{
    background-color: var(--white);
    color: var(--black);
}
#root{
    background-color: var(--white);
    color: var(--black);
}
.grid {
    background-image: var(--bg-img);
    min-height: 100vh;
}

.dsc-brand {
    opacity: 0;
}

.fade-in-animation {
    animation: fadeIn 300ms forwards;
}

.fade-out-animation {
    animation: fadeOut 300ms forwards;
}

.darkmodebtn img{
    width:25px;
    height:25px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.medal {
    height: 2em;
    width: 2em;
    background-color: #000;
    border-radius: 50%;
    margin-right: 1em;
    display: inline-block;
}

.platinum {
    background-color: #e5e4e2;
}

.gold {
    background-color: #FFD700;
}

.silver {
    background-color: #c0c0c0;
}

.bronze {
    background-color: #cd7f32;
}

.diamond{
    background-color: #b9f2ff;
}

@font-face {
    font-family: 'Google Sans';
    src: url("./assets/fonts/GoogleSans.ttf") format('truetype');
}

.MuiTypography-root {
    font-family: "Google Sans", "Roboto", sans-serif !important;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Google Sans', 'Roboto', sans-serif;
}
.flip-card {
    background-color: transparent;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flip-card .flip-card-inner {
    animation: animate 1s;
    
  }
  .largeLogo {
      position: relative;
  }
  @keyframes animate {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(180deg);}
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flip-card-front {
    background-color: transparent;
    color:whitesmoke;
  }
  .flip-card-back {
    background:transparent;
    color: white;
    transform: rotateY(180deg);
  }
  .darkModeText{
      display: none;
  }
  .leftAnimate{
      animation: leftAnimate 3sec;
  }
  .rightAnimate{
    animation: rightAnimate 3sec;
}
  @keyframes leftAnimate{
      0%{
          left:0vw;
      }
      100%{
          left: 25vw;
      }
  }
  @keyframes rightAnimate{
    0%{
        left:0vw;
    }
    100%{
        left: 25vw;
    }
}