.person {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  text-align: center;
}
.person-badge {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: hidden;
  background: #DDD;
  background: linear-gradient(to bottom, #EEE 0%,#CCC 100%);
  position: relative;
}

.person-badge img {
  width: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 500ms;
}
.person-badge img.peculiar {
  opacity: 0;
  transform: translateY(80px)
}

.person .links{
  position: relative;
  display: flex;
}

.person-badge:hover img.normal {opacity: 0;transform: translateY(80px)}
.person-badge:hover img.peculiar {opacity: 1;transform: translateY(0)}



@media only screen and (max-width: 425px) {
  .person-badge {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  }
  .person-badge img {
    width: 100px;
  }
  .person {
    width: 100%;
    border: 1px solid red;
    padding: 10px 0 0 10px;
  }
}.person {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  text-align: center;
}
.person-badge {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: hidden;
  background: #DDD;
  background: linear-gradient(to bottom, #EEE 0%,#CCC 100%);
  position: relative;
}

.person-badge img {
  width: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 500ms;
}
.person-badge img.peculiar {
  opacity: 0;
  transform: translateY(80px)
}

.person .links{
  position: relative;
  display: flex;
}

.person-badge:hover img.normal {opacity: 0;transform: translateY(80px)}
.person-badge:hover img.peculiar {opacity: 1;transform: translateY(0)}



@media only screen and (max-width: 425px) {
  .person-badge {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  }
  .person-badge img {
    width: 100px;
  }
  .person {
    width: 100%;
    border: 1px solid red;
    padding: 10px 0 0 10px;
  }
}