.main-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .team-info {
    cursor: pointer;
  }
  
  .team-info:hover > .team-img {
      opacity: 0.7;
  }
  
  .team-links {
    cursor: pointer;
  }
  
  .team-links {
    display: none;
    position: absolute;
    top: 100px;
  }
  
  .team-img {
    position: relative;
  }
  
  .main-div:hover > .team-links {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
  }
  